/**
 * Portfolio Design Stylesheet
 *
 * @Author : Mayank Sindwani
 * @Date   : 2015-04-25
 *
 * Description : This stylesheet includes the layout and design of the
 * portfolio along with modifications to any third-party frameworks.
 *
 **/

/* Page Layout */

@font-face {
    src: url(../fonts/SourceSansPro-ExtraLight.otf);
    font-family: SourceSansProExtraLight;
}

@font-face {
    src: url(../fonts/Larimar.woff);
    font-family: Larimar;
}

html,
body {
    height: 100%;
    overflow: hidden;
    -ms-overflow-style: none;
}

body {
    font-family: SourceSansProExtraLight;
    margin-left: 235px;
    font-size: 16px;
    background: rgb(39, 39, 39);
}

header.carousel,
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100vh;
    min-height: 800px;
    border: 0;
}

header.carousel {
  opacity:0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

header.carousel .fill {
    background-position: center;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
}

footer {
    margin: 50px 0;
}

/* Bootstrap Modifications */

.navbar-brand {
  padding: 20px 0px;
  margin-left: 10px;
  font-size: 26px;
  color: white;
}

.navbar-brand > .first-name {
    color: white;
}

.navbar-brand > .last-name {
    color: #61868A;
}

.navbar-default {
  background: transparent;
  margin-top: 30px;
  border-radius: 0;
  border: 0;
}

ul.nav.navbar-nav > li {
  text-indent: 10px;
  width: 100%;
}

.navbar-default .navbar-nav > li:hover {
  background-color: rgb(39, 39, 39);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background: rgb(50, 49, 49);
  color: white;
  outline: 0;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: white;
  outline: 0;
}

.btn-custom {
  border-radius: 0;
  background-color: rgb(50, 50, 50);
  border: 0;
  text-transform: uppercase;
  transition: all 0.15s ease;
}

.btn-custom:hover {
  color: white;
  background-color: rgb(36, 36, 36);
}

/* Plugins */

#content_scroll {
  height: 100%;
}

#content_scroll .mCSB_inside > .mCSB_container {
  margin: 0;
}

/* Design */

.page-header {
  border-bottom: 1px solid rgb(63, 63, 63);
}

.sub-text {
  color: rgb(187, 187, 187);
  text-align: left;
  margin-top: 10px;
  font-size: 20px;
  display: block;
}

.transparent-black {
  background: rgba(0, 0, 0, 0.48);
}

.loader {
  text-align: center;
  text-transform: uppercase;
}

.loader img {
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 100px;
}

.quote {
  font-style: italic;
  font-size: 33px;
}

.landing-blurb,
.landing-quote {
  min-height: 150px;
}

.landing-quote {
  text-align: right;
  font-size: 20px;
}

.navigation {
  background: #333;
  width: 100%;
  top: -250px;
}

#navbar_collapse {
  overflow: hidden;
  padding: 0px;
  border: 0px;
}

#navbar_collapse .nav {
  background: rgb(42, 42, 42);
  text-transform: uppercase;
  float: none;
  margin: 0;
}

.side-nav {
  background: #2A2A2A;
  border-radius: 0;
  position: fixed;
  width: 235px;
  border: none;
  height: 100%;
  left: 0;
}

.side-nav .navbar-header {
  text-align: right;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid;
}

.side-nav .navbar-header .navbar-toggle.collapsed {
  background: transparent;
  border: 0;
}

.side-nav .navbar-header .navbar-toggle.collapsed .icon-bar {
  background: rgb(106, 108, 110);
}

#site_nav {
  width: 100%;
  height: 100%;
}

.carousel-inner .landing {
  background: url('../images/bg1.jpg');
  background-size: cover;
}

.carousel-inner .projects {
  background: url('../images/bg2.jpg');
  background-size: cover;
}

.carousel-inner .fill-container {
  padding-bottom: 4%;
  padding-top: 4%;
  height: 100%;
  width: 80%;
}

.section {
  padding: 25px;
}

.section.profile {
  background: rgb(50, 49, 49);
  color: rgb(190, 190, 190);
}

.section.profile .profile-block {
  padding: 10px;
  border-top: 1px solid;
  border-color: rgb(69, 69, 69);
  min-height: 350px;
}

.section.profile .profile-block h2 {
  text-align: center;
  font-family: Larimar;
  text-transform: uppercase;
  color: #61868A;
}

.section.profile .profile-icon {
  text-align: center;
  display: block;
  font-size: 60px;
  margin: 25px;
  color: rgb(100, 99, 99);
}

.section.profile .profile-education,
.section.profile .profile-experience,
.section.profile .profile-interests {
  visibility: hidden;
  width: 100%;
  margin-top: -100%;
}

.section.profile .profile-skills-list {
  padding-left: 40px;
  list-style-type: square;
}

.html-badge {
  margin-top: 15px;
  display: block;
  width: 345px;
  height: auto;
  margin: auto;
}

.section.projects {
  background: rgb(66, 66, 66);
  color: rgb(190,190,190);
}

.project-block {
  margin: 25px 5px;
  padding-bottom: 10px;
  background-color: rgb(72, 72, 72);
  padding: 20px;
}

.project-block > .col {
  font-style: italic;
  font-size: 17px;
  color: gray;
}

.project-block > .col img {
    width: 135px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.project-block > .col > .repo-link {
  padding-top: 15px;
  color: #61868A;
  font-style: normal;
}

.project-block .project-icon {
    width: 65px;
    height: 65px;
    display: inline-block;
    background-size: 85%;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #B3B3B3;
    background-position: 50%;
}

.project-block .project-title {
    text-transform: uppercase;
    font-style: normal;
    color: #516B6E;
    font-family: Larimar;
    font-size: 55px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.section.contact {
  background: rgb(61, 61, 61);
  color: rgb(190,190,190);
}

.section.contact .contact-body {
  padding: 50px 0;
}

.section.contact .contact-body-container {
  border: 1px solid #444444;
}

.section.contact .contact-header {
  margin: 20px 35px;
  color: #9E9C9C;
}

.section.contact .banner-social {
  padding: 15px;
}

.section.contact .contact-info {
  color: #57767A;
  font-size: 25px;
  display: block;
}

.section.contact .contact-icon {
  color: rgb(81, 81, 81);
  margin-right: 10px;
  font-size: 50px;
}

.section.contact .contact-icon:hover {
  color: #57767A;
}

#footer {
  border-top: solid 1px #555;
  background-color: #272727;
  text-align: center;
  padding: 17px 0;
  color: #ccc;
  margin: 0;
}

/* CSS3 Transitions */

.slide-top {
  visibility: visible !important;
  margin-top: 0px !important;
  transition: all 1s cubic-bezier(0.1, 0.01, 0.27, 1.55);
  -webkit-transition : all 1s cubic-bezier(0.1, 0.01, 0.27, 1.55);
  -moz-transition: all 1s cubic-bezier(0.1, 0.01, 0.27, 1.55);
  -ms-transition: all 1s cubic-bezier(0.1, 0.01, 0.27, 1.55);
  -o-transition: all 1s cubic-bezier(0.1, 0.01, 0.27, 1.55);
}

/* Media Queries */

@media(max-width:767px) {

    body {
      padding-top: 90px;
      margin-left: 0px;
    }

    .side-nav {
      height: 90px;
      width: 100%;
      z-index: 16;
      top:0;
    }

    .side-nav .navbar-default {
      margin-top: 0px;
    }

    .side-nav .navbar-header {
      border: 0;
    }

    .section.profile .profile-skills-list {
      padding: 0;
    }

    .profile-block .col-xs-4, .section.contact .col-xs-6 {
      width: 100%;
    }

    .section.contact .contact-paragraph {
      display: none;
    }
}

@media(max-width: 1064px) {

     .project-block .col-xs-6 {
      width: 100%;
    }

}