/**
 * Portfolio Error Stylesheet
 *
 * @Author : Mayank Sindwani
 * @Date   : 2015-04-25
 *
 * Description : This stylesheet includes the layout and design of
 * portfolio error pages along with modifications to any third-party
 * frameworks.
 *
 **/

/* Page Layout */

@font-face {
    src: url(../fonts/SourceSansPro-ExtraLight.otf);
    font-family: SourceSansProExtraLight;
}

html,
body {
	height: 100%;
	width: 100%;
	background: rgb(39, 39, 39);
	overflow:hidden;
}

body {
	font-family: SourceSansProExtraLight;
}

.error {
	padding-top: 30px;
	margin-right: 10%;
	margin-left: 10%;
}

.error .error-code {
	font-size: 15em;
	text-align: center;
}

.error .error-msg {
	font-size: 25px;
	color: #616161;
}

.error .error-msg span {
	font-weight: 500;
	margin-top: 100px;
}

.error .error-msg a {
	font-size: 16px;
    color: #616161;
    font-weight: 800;
    display: block;
    padding-top: 15px;
}

@media (min-width: 992px) {
	.error .error-code {
	    border-right: 1px solid;
	}

	.error .error-msg {
		margin-top: 10%;
	}
}