/**
 * Portfolio Stylesheet
 *
 * @author Mayank Sindwani
 * @date 2016-03-13
 */

/* Font Imports */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,100');

/* Global */

:root {
    --profile-links-height: 40px;
    --profile-links-background: #313131;
    --primary-colour: #3D3D3D;
    --text-color: #a7a7a7;
}

html {
    margin: 0;
    padding: 0;
    min-width: 320px;
}

body {
    background: var(--primary-colour);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'serif';
    font-display: fallback;
    color: var(--text-color);
}

a {
    color: white;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #c2c2c2;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    float: right;
    color: white;
}

ul li {
    list-style: none;
    float: left;
    padding: 5px 10px;
    font-size: 20px;
}

h1 {
    font-size: 36px;
    margin-block: 24px;
}

.well {
    display: flex;
    flex-direction: column;
    background: #4E4E4E;
    border: 0;
    border-radius: 0;
    height: 205px;
    color: #666666;
    text-align: center;
    font-size: 42px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.well:hover {
    box-shadow: 0px 0px 10px 2px #2E2E2E;
    transform: scale(1.1, 1.1);
    z-index: 1;
}

.well:after {
    content: "";
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

/* Header */

header {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 320px;
    top: 0;
}

header .profile-links {
    background: var(--profile-links-background);
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    height: var(--profile-links-height);
    position: fixed;
}

header .social-media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .social-media li a {
    vertical-align: middle;
}

header .social-media li a svg {
    width: 20px;
    height: 20px;
    fill: white;
}

header .social-media li a:hover svg {
    fill: #c2c2c2;
}

header .profile-title {
    margin-top: var(--profile-links-height);
    background: var(--primary-colour);
}

header .profile-title .container {
    justify-content: flex-start;
    align-items: center;
}

header .profile-title .content-title {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 100;
}

header .profile-title .content-subtitle {
    display: inline-block;
    font-weight: 100;
    font-size: 24px;
    margin: 0 24px;
}

.contact {
    display: inline-block;
    margin: 10px 0;
    color: white;
}

.contact .email-link {
    color: white;
}

.contact .email-link .fa {
    padding-right: 10px;
}

/* About Section */

.profile-about {
    color: white;
    background: #315F5C;
    padding-top: 64px;
    padding-bottom: 64px;
}

.profile-about h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 0;
}

.profile-about p {
    font-size: 20px;
    font-weight: 100;
}

.profile-about .about-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-about .about-panel.description ul {
    float: none;
    display: flex;
    margin-bottom: 14px;
    flex-wrap: wrap;
}

.profile-about .about-panel.description ul li {
    float: left;
    font-size: 16px;
    padding-left: 0;
    padding-right: 16px;
}

.carousel-title {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}

.carousel-container {
    position: relative;
    width: 400px;
    overflow: hidden;
    display: block;
    margin: auto;
    height: 215px;
}

.carousel-container .carousel {
    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -ms-transition: margin 1s;
    -o-transition: margin 1s;
    transition: margin 1s;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.carousel-indicators li.active {
    margin: 0;
    width:  12px;
    height: 12px;
    background-color: white;
}

.carousel-container .carousel .carousel-item {
    display: block;
    width: 100%;
    height: 215px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    border-radius: 2px;
    background-color: #444343 !important;
    background-position: 50% !important;
}

.carousel-container .carousel .back {
    display: none;
}

.carousel-container .carousel .panel-one {
    background: url('../images/HTML5_Badge.svg') no-repeat;
    background-size: 130px;
}

.carousel-container .carousel .panel-two {
    background: url('../images/java-programming-language-icon.svg') no-repeat;
    background-size: 100px;
}

.carousel-container .carousel .panel-three {
    background: url('../images/python-logo-generic.svg') no-repeat;
    background-size: 180px;
}

.carousel-container .carousel .panel-four {
    background: url('../images/node.png') no-repeat;
    background-size: 175px;
}

.carousel-container .carousel .panel-five {
    background: url('../images/Android_Robot_200.png') no-repeat;
    background-size: 115px;
}

.carousel-container .carousel .panel-six {
    background: url('../images/react.png') no-repeat;
    background-size: 150px;
}

.carousel-container.three-dimensional-carousel {
    margin: 0 auto;
    width: 250px !important;
    height: 200px;
    position: relative;
    perspective: 1000px;
    margin-top: 50px;
    overflow: visible;
}

.carousel-container.three-dimensional-carousel .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    width: 250px;
}

.carousel-container.three-dimensional-carousel .carousel-indicators {
    top: 175px;
}

.carousel-container.three-dimensional-carousel .carousel .carousel-item {
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 175px;
}

.carousel-container.three-dimensional-carousel .carousel .back {
    background: #363636 !important;
}

.carousel-container.three-dimensional-carousel .carousel .panel-one {
    transform: rotateY(0deg) translateZ(245px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-one-back {
    transform: rotateY(0deg) translateZ(244px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-two {
    transform: rotateY(60deg) translateZ(245px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-two-back {
    transform: rotateY(60deg) translateZ(244px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-three {
    transform: rotateY(120deg) translateZ(250px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-three-back {
    transform: rotateY(120deg) translateZ(249px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-four {
    transform: rotateY(180deg) translateZ(250px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-four-back {
    transform: rotateY(180deg) translateZ(249px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-five {
    transform: rotateY(240deg) translateZ(250px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-five-back {
    transform: rotateY(240deg) translateZ(249px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-six {
    transform: rotateY(300deg) translateZ(245px);
}

.carousel-container.three-dimensional-carousel .carousel .panel-six-back {
    transform: rotateY(300deg) translateZ(244px);
}

/* Projects Section */

.profile-projects .container {
    display: block;
}

.profile-projects h2 {
    font-size: 26px;
    color: white;
    text-transform: uppercase;
}

.profile-projects h3 {
    font-size: 42px;
    color: white;
    font-weight: 300;
    margin: 12px;
}

.profile-projects a {
    text-decoration: none;
}

.profile-projects .project-description {
    font-size: 16px;
    color: #c2c2c2;
    margin: 12px;
}

.profile-projects .project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-projects .project-cards .project-card {
    margin-bottom: 24px;
}

.profile-projects .project-card-large {
    flex-basis: 59%;
}

.profile-projects .project-card-small {
    flex-basis: 39%;
}

/* Footer */

.footer-nav {
    height: 100px;
    border-top: 1px solid #383838;
    margin: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-nav ul li {
    font-size: 16px;
}

/* Responsive Overrides */

@media(max-width: 1200px) {
    main .profile-about .container {
        display: block;
        margin: auto;
    }

    main .profile-about .about-panel {
        width: 100%;
    }

    main .profile-about .about-panel.description {
        text-align: center;
    }

    .profile-about .about-panel.description ul {
        justify-content: center;
    }
}

@media(max-width: 990px) {
    .profile-projects .project-card-large,
    .profile-projects .project-card-small {
        flex-basis: 100%;
    }

    .well {
        height: auto;
    }

    .profile-about .about-panel.description ul li {
        justify-content: center;
    }
}

@media(max-width: 546px) {
    header .profile-title .container {
        display: block;
    }

    header .profile-title .content-subtitle {
        margin: 0 0 24px 0px;
    }

    #technologies_carousel_container {
        width: 100%;
    }

    .profile-about .about-panel.description ul li {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .social-media {
        position: absolute;
        right: 0;
        top: calc(var(--profile-links-height) + 6px);
        display: flex;
        flex-direction: column;
        background: #313131;
    }
}
